// Color palette
$primary: #f6c324;
$success: #35BB4D;
$info: #3A78DD;
$warning: #f6c324;
$danger: #dc4d38;

$darker: hsl(160, 0, 15);
$dark: hsl(160, 0, 30);
$gray: hsl(160, 0, 45);
$light: hsl(160, 0, 60);
$lighter: hsl(160, 0, 90);
