$border-darken: 5;
$hover-darken: 7;
$active-darken: 15;

button,
.button {
  // <button> reset.
  // (See: https://github.com/necolas/normalize.css/blob/master/normalize.css)
  overflow: visible;
  text-transform: none;
  margin: 0;
  // <button> don't inherit their parent font.
  font: inherit;
  // <button> don't inherit this property from <html>.
  -webkit-font-smoothing: antialiased;
  color: $dark;

  padding: 0.7rem 1.5rem;
  white-space: nowrap;
  display: inline-block;
  width: auto;
  text-align: center;
  border-radius: 3px;

  font-size: 0.9rem;

  cursor: pointer;
  user-select: none;
  transition: .2s background-color ease-in-out;

  background: $lighter;
  border: 1px solid darken($lighter, $border-darken);
  &:hover { background: darken($lighter, $hover-darken); }
  &:active { background: darken($lighter, $active-darken); }

  &.block {
    display: block;
    width: 100%;
  }

  &.disabled,
  &:disabled{
    pointer-events: none;
    opacity: .5;
  }

  &.primary {
    background: $primary;
    border: 1px solid darken($primary, $border-darken);
    color: #fff;
  }
  &.primary:hover { background: darken($primary, $hover-darken); }
  &.primary:active { background: darken($primary, $active-darken); }

  &.success {
    background: $success;
    border: 1px solid darken($success, $border-darken);
    color: #fff;
  }
  &.success:hover { background: darken($success, $hover-darken); }
  &.success:active { background: darken($success, $active-darken); }

  &.info {
    background: $info;
    border: 1px solid darken($info, $border-darken);
    color: #fff;
  }
  &.info:hover { background: darken($info, $hover-darken); }
  &.info:active { background: darken($info,$active-darken); }

  &.warning {
    background: $warning;
    border: 1px solid darken($warning, $border-darken);
    color: #fff;
  }
  &.warning:hover { background: darken($warning, $hover-darken); }
  &.warning:active { background: darken($warning, $active-darken); }

  &.danger {
    background: $danger;
    border: 1px solid darken($danger, $border-darken);
    color: #fff;
  }
  &.danger:hover { background: darken($danger, $hover-darken); }
  &.danger:active { background: darken($danger, $active-darken); }

  &.dark {
    background: $dark;
    border: 1px solid darken($dark, $border-darken);
    color: #fff;
  }
  &.dark:hover { background: darken($dark, $hover-darken); }
  &.dark:active { background: darken($dark, $active-darken); }
}

// Remove inner padding and border in Firefox 4+.
// (See: https://github.com/necolas/normalize.css/blob/master/normalize.css)
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.boutton-group {
  &>.button {
    margin-left: -5px;
    border-radius: 0;
  }

  &>:first-child {
    margin-left: 0;
    border-radius: 3px 0 0 3px;
  }

    &>:last-child {
    border-radius: 0 3px 3px 0;
  }
}
