button,
.button {
	// Button reset.
	// (See: https://github.com/necolas/normalize.css/blob/master/normalize.css)
	overflow: visible;
	text-transform: none;
  margin: 0;
  border: 0;

	padding: 12px 24px;
	white-space: nowrap;
	display: block;
	width: 100%;
	text-align: center;
	border-radius: 3px;

	font: normal 300 1em/150% 'Helvetica Neue', Helvetica, sans-serif;
	
	cursor: pointer;
	user-select: none;
	transition: .2s background-color ease-in-out;

	background: $lighter;
	color: $dark;
	&:hover { background: darken($lighter, 10); }
	&:active { background: darken($lighter, 20); }
	
	&.disabled,
	&:disabled{
		pointer-events: none;
		opacity: .3;
	}

	&.primary {
		background: $primary;
		color: #fff;
	}
	&.primary:hover { background: darken($primary, 10); }
	&.primary:active { background: darken($primary, 20); }

	&.success {
		background: $success;
		color: #fff;
	}
	&.success:hover { background: darken($success, 10); }
	&.success:active { background: darken($success, 20); }

	&.info {
		background: $info;
		color: #fff;
	}
	&.info:hover { background: darken($info, 10); }
	&.info:active { background: darken($info,20); }

	&.warning {
		background: $warning;
		color: #fff;
	}
	&.warning:hover { background: darken($warning, 10); }
	&.warning:active { background: darken($warning, 20); }

	&.danger {
		background: $danger;
		color: #fff;
	}
	&.danger:hover { background: darken($danger, 10); }
	&.danger:active { background: darken($danger, 20); }

}

// Remove inner padding and border in Firefox 4+.
// (See: https://github.com/necolas/normalize.css/blob/master/normalize.css)
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
