// Border-box FTW!
// See: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Grid system
$columns: 6;
$rows: 16;
$row_size: 2.5rem;
$container_width: 64rem;

.container {
  max-width: $container_width;
  width: 94%;
  margin: 0 auto;

  @include breakpoint(m) {
    width: 100%;
    padding: 0 1rem;
  }
}

// Generate all the .colXofY classes
// X <= Y and Y < $columns
// The grid is only 'active' when the device width is large enough.
@for $max_col from 1 through $columns {
  @for $col from 1 through $max_col {
    @include breakpoint(m) {
      .col#{$col}of#{$max_col} {
        float: left;
        width: $col / $max_col * 100%;
      }
    }
  }
}

// Row classes
@for $row from 1 through $rows {
  .row#{$row} {
    min-height: $row * $row_size;

    @include breakpoint(m) {
      height: $row * $row_size;
    }
  }
}

// Margins left (push) & right (pull)
@for $max_col from 1 through $columns {
  @for $col from 1 through $max_col {
    @include breakpoint(m) {
      .pre#{$col}of#{$max_col} {
        margin-left: $col / $max_col * 100%;
      }
    }
  }
}

@for $max_col from 1 through $columns {
  @for $col from 1 through $max_col {
    @include breakpoint(m) {
      .post#{$col}of#{$max_col} {
        margin-right: $col / $max_col * 100%;
      }
    }
  }
}

.centered {
  float: none;
  margin: 0 auto;
}
